# Server Configuration
PORT=3000
NODE_ENV=production

# Database
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/burger-station?retryWrites=true&w=majority

# Admin Credentials
ADMIN_ID=admin66
ADMIN_PASSWORD=admin123

# Cloudinary Assets
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
